body {
    font-family: Arial;
    margin: 0;
    background: #0f172a;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 15px 30px;
    background: #020617;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;   
}

.auth-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.btn {
    background: #3b82f6;
    padding: 8px 14px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}

.container {
    padding: 40px;
}

.home {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #22c55e;
    color: white;
}

canvas {
    background-color: white;
    margin-top: 40px;
}

.note {
    margin: 20px auto;        
    padding: 12px 20px;
    max-width: 600px;

    background: #1e293b;
    border-left: 4px solid #f59e0b;
    border-radius: 6px;

    font-size: 14px;
    color: #e2e8f0;

    text-align: center;       
}